html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(66, 66, 66);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
body h1 {
  font-size: 2.4rem;
  margin: 0;
}
body h2 {
  font-size: 2rem;
  margin: 0;
}
body h3 {
  font-size: 1.8rem;
  margin: 0;
}
body p {
  font-size: 1.4rem;
}
body ul li {
  font-size: 1.2rem;
  line-height: 25px;
}
body hr {
  width: 40%;
  display: inline-block;
  text-align: left;
  height: 10px;
  border-style: none;
  background: aqua;
}
body header {
  background-color: rgb(51, 178, 167);
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 12;
  width: 100%;
  top: 0;
  height: 10vh;
}
body header nav {
  background-color: blueviolet;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
body header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
}
body header nav ul a {
  color: white;
  text-decoration: none;
}
@media (min-width: 0px) {
  body header nav .main-menu {
    display: none;
  }
}
@media (min-width: 576px) {
  body header nav .main-menu {
    display: block;
  }
}
body header nav .hamburger-menu span {
  background-color: whitesmoke;
  display: block;
  width: 33px;
  height: 4px;
  transform-origin: center;
}
@media (min-width: 0px) {
  body header nav .hamburger-menu {
    display: block;
  }
}
@media (min-width: 576px) {
  body header nav .hamburger-menu {
    display: none;
  }
}
body header nav .hamburger-menu .remove-span {
  opacity: 0;
  transition: opacity 0.3s ease-out 0.1s;
}
body header nav .hamburger-menu .add-span {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.5s;
}
body header nav .rotate-45 {
  transform: translate(3px, 8px) rotate(45deg);
  transition: transform 0.3s ease 0.5s;
  margin-bottom: 0;
}
body header nav .span-0 {
  transform: rotate(0deg);
  margin-bottom: 5px;
  transition: transform 0.5s ease 0.5s, margin-bottom 0.3s ease 0.5s;
}
body header nav .rotate-135 {
  transform: translate(3px, -5px) rotate(135deg);
  transition: transform 0.3s ease 0.5s;
  margin-bottom: 0;
}
body .mobile-menu {
  background-color: blueviolet;
  z-index: 20;
  position: fixed;
  right: -113px;
  width: 0px;
  height: 200px;
  padding: 30px;
  top: 8vh;
  transition: right 0.5s ease-out 0.5s, width 0.5s ease-out 0.5s;
  display: flex;
  flex-direction: column;
}
body .right-position {
  right: 0;
  width: 100px;
  height: 200px;
  padding: 30px;
  top: 8vh;
  transition: right 0.5s ease-in 0.5s, width 0.5s ease-in 0.5s;
  display: flex;
  flex-direction: column;
}
body #about {
  margin-top: 200px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px white;
}
body #about .about-container {
  width: 600px;
  height: 600px;
  border: solid 1px white;
  padding: 20px;
}
body #about .about-container p {
  line-height: 25px;
  font-size: 17px;
}
body #experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px white;
}
@media (min-width: 768px) {
  body #experience {
    width: 800px;
    margin: auto;
  }
}
body #experience h2 {
  margin-bottom: 20px;
}
body #experience .experience-container {
  border: solid 1px white;
  padding: 10px;
}
body #experience .experience-container .job-description li {
  margin-bottom: 10px;
}
body .projects ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 10px;
  list-style: none;
  padding: 0;
}
body .projects ul li {
  border: 1px solid #e2e2e2;
}
body .projects ul li figure {
  max-height: 220px;
  overflow: hidden;
  position: relative;
}
body .projects ul li figure img {
  width: 100%;
}
body .projects ul li figure figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}/*# sourceMappingURL=styles.css.map */