// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: #{$screen+"px"}) {
    @content;
  }
}

body {
  background-color: rgb(66, 66, 66);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  h1 {
    font-size: 2.4rem;
    margin: 0;
  }

  h2 {
    font-size: 2rem;
    margin: 0;
  }

  h3 {
    font-size: 1.8rem;
    margin: 0;
  }

  p {
    font-size: 1.4rem;
  }

  ul li {
    font-size: 1.2rem;
    line-height: 25px;
  }

  hr {
    width: 40%;
    display: inline-block;
    text-align: left;
    height: 10px;
    border-style: none;
    background: aqua;
  }
  header {
    background-color: rgb(51, 178, 167);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 12;
    width: 100%;
    top: 0;
    height: 10vh;

    nav {
      background-color: blueviolet;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        list-style-type: none;

        a {
          color: white;
          text-decoration: none;
        }
      }

      .main-menu {
        @include rwd(0) {
          display: none;
        }
        @include sm {
          display: block;
        }
      }

      .hamburger-menu {
        span {
          background-color: whitesmoke;
          display: block;
          width: 33px;
          height: 4px;
          transform-origin: center;
        }

        @include rwd(0) {
          display: block;
        }

        @include sm {
          display: none;
        }

        .remove-span {
          opacity: 0;
          transition: opacity 0.3s ease-out 0.1s;
        }
        .add-span {
          opacity: 1;
          transition: opacity 0.5s ease-in 0.5s;
        }
      }

      .rotate-45 {
        transform: translate(3px, 8px) rotate(45deg);
        transition: transform 0.3s ease 0.5s;
        margin-bottom: 0;
      }

      .span-0 {
        transform: rotate(0deg);
        margin-bottom: 5px;
        transition: transform 0.5s ease 0.5s, margin-bottom 0.3s ease 0.5s;
      }

      .rotate-135 {
        transform: translate(3px, -5px) rotate(135deg);
        transition: transform 0.3s ease 0.5s;
        margin-bottom: 0;
      }
    }
  }

  .mobile-menu {
    background-color: blueviolet;
    z-index: 20;
    position: fixed;
    right: -113px;
    width: 0px;
    height: 200px;
    padding: 30px;
    top: 8vh;
    transition: right 0.5s ease-out 0.5s, width 0.5s ease-out 0.5s;

    display: flex;
    flex-direction: column;
  }

  .right-position {
    right: 0;
    width: 100px;
    height: 200px;
    padding: 30px;
    top: 8vh;
    transition: right 0.5s ease-in 0.5s, width 0.5s ease-in 0.5s;
    display: flex;
    flex-direction: column;
  }

  #about {
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .about-container {
      width: 600px;
      height: 600px;
      border: solid 1px white;
      padding: 20px;

      p {
        line-height: 25px;
        font-size: 17px;
      }
    }

    border-bottom: solid 1px white;
  }

  #experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px white;

    @include md {
      width: 800px;
      margin: auto;
    }

    h2 {
      margin-bottom: 20px;
    }
    .experience-container {
      border: solid 1px white;
      padding: 10px;

      .job-description li {
        margin-bottom: 10px;
      }
    }
  }

  .projects {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-gap: 10px;
      list-style: none;
      padding: 0;

      li {
        border: 1px solid #e2e2e2;

        figure {
          max-height: 220px;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
          }

          figcaption {
            position: absolute;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.7);
            width: 100%;
          }
        }
      }
    }
  }

  // #contact {
  //   height: 100vh;
  // }
}

// Breakpoints
